#blocking the code from going to the server for now
adminCards.handlebars
adminDecks.handlebars
adminUser.handlebars
adminUsers.handlebars
adminHome.handlebars
adminMain.handlebars

# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml
