<!doctype html>

{{!-- The main template --}}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Flash Cards</title>
  {{!-- Bootstrap for simple quick styling --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" 
	  integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
    crossorigin="anonymous">
	<script src="/scripts/clickActions.js" type="text/javascript"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <h3>{{title}}</h3>
    </div>
    <div class="row">
      {{{body}}}
    </div>

  </div>
</body>

</html>
