<!doctype html>

{{!-- The main template --}}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Flash Cards: {{title}}</title>
  {{!-- Bootstrap for simple quick styling --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" 
	  integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
    crossorigin="anonymous">
	<script src="/scripts/clickActions.js" type="text/javascript"></script>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-light navbar-expand-lg bg-light">
      <a class="navbar-brand" href="/home/{{userId}}">Flash Cards</a>
      <div class="navbar-nav">
        {{!-- This wouldn't be on the real page, but it's useful for testing! --}}
        <a class="nav-item nav-link" href="/home">Change user</a>
      </div>
    </nav>
    <div class="row">
      <h3>{{title}}</h3>
    </div>
    <div class="row">
      {{{body}}}
    </div>

  </div>
</body>

</html>
