{{!-- Not found message --}}
<div class="container">
  <div class="row">
    <h4>404 - Not found :(</h4>
  </div>
  <div class="row">
    <p>Sorry, we haven't got one of those. Go <a href="/home">home</a>?</p>
  </div>
</div>