{{!-- A form for adding --}}

<div class="container">
  <div class="row">
    <form method="POST" action="/add">
      <table>
        <tbody>
          <tr>
            <th>
              <label for="first">First Name:</label>
            </th>
            <td>
              <input type="text" name="first" size="30" required>
            </td>
          </tr>
          <tr>
            <th>
              <label class="label" for="last">Last Name:</label>
            </th>
            <td>
              <input type="text" name="last" size="30" required>
            </td>
          </tr>
        </tbody>
        <tfooter>
          <tr>
            <td></td>
            <td>
              <input type="submit" value="Save" class="btn btn-primary">
              <input type="button" value="Cancel" class="btn btn-secondary" onclick="cancelAdd()">
            </td>
          </tr>
        </tfooter>
      </table>
    </form>
  </div>
</div>