<div class="container">
  <div class="row">
    <h4>Hello</h4>
  </div>
  <div class="row">
    <ul>
      <li>
        <a href="/quiz">Dummy user quiz</a>
      </li>
      <li>
        <a href="/admin">Admin</a>
      </li>
    </ul>
  </div>
</div>