<div class="container">
  <div class="row w-50 border border-dark p-3 m-3 mx-auto">
    {{card}}
  </div>
  <div class="row w-50 p-5 mx-auto">
    <form method="POST" action="/practice/answer">
      <input type="submit" value="Check Answer" class="btn btn-primary">
    </form>
  </div>
</div>