<div class="container">
  <div class="row">
    You're done practicing for now! Come back for more tomorrow.
  </div>
  <div class="row">
    <p>
      <a href="/user/{{userId}}">Go to the main page</a>?
    </p>
  </div>
</div>