<div class="container">
  <div class="row">
    <h4>Privacy Policy for JMRoy Project</h4>
  </div>
  <div class="row">
    <h4>What information is collected?</h4>
    <p>TBD</p>
  </div>
  <div class="row">
    <h4>How is the information used?</h4>
    <p>TBD</p>
  </div>
  <div class="row">
    <h4>What information is shared?</h4>
    <p>No information is shared.</p>
  </div>
</div>