<div class="container">
  <div class="row">
    <h5>Add a new user</h5>
  </div>
  <div class="row">
    <form method="POST" action="/addUser">
              <label for="name">User Name:</label>
              <input type="text" name="name" size="30" required>
              <br>
              <input type="submit" value="Save" class="btn btn-primary">
              <input type="button" value="Cancel" class="btn btn-secondary" onclick="cancelAdd()">
    </form>
  </div>
  <br>
  <div class="row">
    <h5>Existing Users</h5>
  </div>
    <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>User Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}
        <tr>
          <td>{{this.name}}</td>
          <td><a href="/user/{{this._id}}">Manage User</a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>