<div class="container">
  <div class="row">
    <h5>Add a new card</h5>
  </div>
  <div class="row">
    <form method="POST" action="/addCard/{{deckId}}">
      <div class="form-group">
        <label for="front">Front:</label>
        <input class="form-control" type="text" name="front" size="30" required>
        <br>
        <label class="label" for="back">Back:</label>
        <input class="form-control" type="text" name="back" size="30" required>
        <br>
        <input type="submit" value="Save" class="btn btn-primary">
        <input type="button" value="Cancel" class="btn btn-secondary" onclick="cancelAdd()">
      </div>
    </form>
  </div>
  <hr>
  <div class="row">
    <h5>Cards already in deck</h5>
  </div>
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Card Front</th>
          <th>Card Back</th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}
        <tr>
          <td>{{this.front}}</td>
          <td>{{this.back}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>